*{ /* selector universa para que uno pueda aplicar su estilos*/
    padding: 0px;
    box-sizing: border-box;
    margin: 0px;
}
body{
<<<<<<< HEAD
   background-color:#252323
=======
   background-color:black
>>>>>>> e0702f461e948a2b8ef7fee4cc04d2f194f98c23
   
}
h1{
    text-align: left;
    font-size: 50px;
    display: flex;
    
}

<<<<<<< HEAD

=======
>>>>>>> e0702f461e948a2b8ef7fee4cc04d2f194f98c23
header{
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    color:white;
    padding: 20px;
    background-color:#34495e;
    width: 100%;
    align-items: center;

}

#boton{
    width: auto;
<<<<<<< HEAD
    background: #100333;
    border-radius: 5px;
    color:white;
    font-size: 22px;
=======
    background: #34495e;
    border-radius: 8px;
    color:white;
    font-size: 23px;
>>>>>>> e0702f461e948a2b8ef7fee4cc04d2f194f98c23

}
div{
    display: flex;
    justify-content: center;
}

#imagen{
    width: 995px;
    height: auto;
    opacity: 100px;
    /* max-height: 650px; */
    /*background: #24303c;;*/
    padding: 30px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    
}
